<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reported Home</title>

    <!-- Custom fonts for this template -->
    <link href="../../static/css/admin/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/admin/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../../static/css/admin/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body id="page-top">
    {% include 'components/navbar.html' %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="  "></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('admin_router.dashBoard')}}">
                    <i class="bi bi-clipboard-data"></i>
                    <span>Dashboard</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="bi bi-file-earmark-post"></i>
                    <span>Posts</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{{url_for('admin_router.all_Posts')}}">All posts</a>
                        <a class="collapse-item" href="{{url_for('admin_router.reportedPosts')}}">Reported
                            posts</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
                    aria-expanded="true" aria-controls="collapseUsers">
                    <i class="bi bi-people-fill"></i>
                    <span>Users</span>
                </a>
                <div id="collapseUsers" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{{url_for('admin_router.all_Users')}}">All users</a>
                        <a class="collapse-item" href="{{url_for('admin_router.banned_Users')}}">Banner users</a>
                        <a class="collapse-item" href="{{url_for('admin_router.banned_Users')}}">Reported users</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHomes"
                    aria-expanded="true" aria-controls="collapseHomes">
                    <i class="bi bi-house-heart-fill"></i>
                    <span>Homes</span>
                </a>
                <div id="collapseHomes" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{{url_for('admin_router.all_Homes')}}">All homes</a>
                        <a class="collapse-item" href="{{url_for('admin_router.reportedHomes')}}">Reported
                            homes</a>
                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <li class="nav-item">
                <a class="nav-link" href="{{url_for('admin_router.view_feedback')}}">
                    <i class="fas bi bi-send-check-fill"></i>
                    <span>View feedback</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('admin_router.view_request_register')}}">
                    <i class="fas bi bi-bookmark-plus-fill"></i>
                    <span>Register request</span></a>
            </li>


        </ul>
        <!-- End of Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas bi bi-file-earmark-arrow-down-fill fa-sm text-white-50"></i> Generate
                            Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total users</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{users|length}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="bi bi-people-fill fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Total posts</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{posts|length}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="bi bi-file-earmark-post fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total
                                                Homes
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                        {{homes|length}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas bi bi-house-fill fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Total Rooms</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{rooms|length}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas bi bi-door-closed fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Post ,home, user quality</h6>
                                </div>
                                <div class="card-body">


                                    <h4 class="small font-weight-bold">Clean posts:
                                        {{post.query.all()|length-reportedPosts.query.all()|length}}<span
                                            class="float-right">Reported
                                            posts: {{reportedPosts.query.all()|length}}</span></h4>
                                    </span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar"
                                            style="width: {{100-reportedPosts.query.all()|length/post.query.all()|length*100}}%">
                                        </div>
                                    </div>


                                    <h4 class="small font-weight-bold">Clean homes:
                                        {{home.query.all()|length-reportedHomes.query.all()|length}}<span
                                            class="float-right">Reported
                                            homes: {{reportedHomes.query.all()|length}}</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar"
                                            style="width: {{100-reportedHomes.query.all()|length/home.query.all()|length*100}}%"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>


                                    <h4 class="small font-weight-bold">Clean users:
                                        {{user.query.all()|length-reportedUsers.query.all()|length-user.query.filter_by(banned=1).count()}}
                                        <span class="float-right">Reported
                                            users: {{reportedUsers.query.all()|length}}</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar" role="progressbar"
                                            style="width: {{100-reportedUsers.query.all()|length/user.query.all()|length*100}}%"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>


                                    <h4 class="small font-weight-bold">Clean members:
                                        {{user.query.filter_by(role="MEMBER",banned=0).count()}}
                                        <span class="float-right">Banned members:
                                            {{user.query.filter_by(role="MEMBER",banned=1).count()}}</span>
                                    </h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-info" role="progressbar"
                                            style="width: {{user.query.filter_by(role='MEMBER',banned=0).count()/user.query.filter_by(role='MEMBER').count()*100}}%"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>


                                    <h4 class="small font-weight-bold">Clean sellers:
                                        {{user.query.filter_by(role="SELLER",banned=0).count()}} <span
                                            class="float-right">Banned sellers:
                                            {{user.query.filter_by(role="SELLER",banned=1).count()}}</span></h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                            style="width: {{user.query.filter_by(role='SELLER',banned=0).count()/user.query.filter_by(role='SELLER').count()*100}}%"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Users Rate Data</h6>
                                </div>
                                <!-- Card Body -->

                                <!-- data -->
                                <script type="text/javascript">
                                    var x = '{{user.query.filter_by(role="MEMBER").count()}}'
                                    var y = '{{user.query.filter_by(role="SELLER").count()}}'
                                    var z = '{{user.query.filter_by(role="ADMIN").count()}}'
                                </script>


                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="bi bi-circle-fill text-primary"></i> MEMBER
                                        </span>
                                        <span class="mr-2">
                                            <i class="bi bi-circle-fill text-success"></i> SELLER
                                        </span>
                                        <span class="mr-2">
                                            <i class="bi bi-circle-fill text-info"></i> ADMIN
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Report need to resolved</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6 mb-4">
                                            <div class="card bg-primary text-white shadow">
                                                <div class="card-body">
                                                    User reports:
                                                    <div class="text-white-50 small">
                                                        {{reportedUsers.query.all()|length}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-4">
                                            <div class="card bg-success text-white shadow">
                                                <div class="card-body">
                                                    Home reports:
                                                    <div class="text-white-50 small">
                                                        {{reportedHomes.query.all()|length}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-4">
                                            <div class="card bg-warning text-white shadow">
                                                <div class="card-body">
                                                    Post reports:
                                                    <div class="text-white-50 small">
                                                        {{reportedPosts.query.all()|length}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">ADMIN RULES</h6>
                                </div>
                                <div class="card-body">
                                    <p>Do not arbitrarily delete posts, homes without good cause.</p>
                                    <p>Do not arbitrarily ban, unban user without good cause.</p>
                                    <p>Do not infringe on user's personal information.</p>
                                    <p class="mb-0">Transparent, clear.</p>
                                </div>
                            </div>

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Developer Contact</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                            src="../../static/assets/img/quiz_result_r92.gif" alt="...">
                                    </div>
                                    <p>This is product in development, therefore, there may be many shortcomings, any
                                        suggestions please contact the developer address, arigato gozaimasu!</p>
                                    <a target="_blank" rel="nofollow" href="https://www.facebook.com/">Contact on
                                        facebook &rarr;</a>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="../../static/css/admin/jquery.min.js"></script>
        <script src="../../static/css/admin/bootstrap.bundle.min.js"></script>


        <!-- Page level plugins -->
        <script src="../../static/css/admin/jquery.dataTables.min.js"></script>
        <script src="../../static/css/admin/dataTables.bootstrap4.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="../../static/css/admin/datatables-demo.js"></script>

        <script src="../../static/css/admin/dashBoard/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="../../static/css/admin/dashBoard/chart-area-demo.js"></script>
        <script src="../../static/css/admin/dashBoard/chart-pie-demo.js"></script>

</body>

</html>