.post {
  width: 60%;
  height: auto;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  margin-top: 40px;
  margin-left: 0px;
  left: 20%;
  display: center;
}

.info {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.info .username {
  width: auto;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin-left: 10px;
}

.info .user {
  display: flex;
  align-items: center;
}

.info .profile-pic {
  height: 50px;
  width: 50px;
  padding: 0;
  background: none;
}

.info .profile-pic img {
  height: 45px;
  width: 45px;
  margin-top: 5px;
  margin-left: -5px;
  border: none;
}

.post-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content {
  width: 100%;
  padding: 20px;
}

.likes {
  font-weight: bold;
}

.description {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.description span {
  font-weight: bold;
  margin-right: 10px;
}

.post-time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.comment-wrapper {
  width: 100%;
  height: 50px;
  border-radius: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-wrapper .icon {
  height: 30px;
}

.comment-box {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.comment-btn,
.action-btn {
  width: 70px;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  color: rgb(0, 162, 255);
  opacity: 0.5;
}

.reaction-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: -20px;
  align-items: center;
}

.reaction-wrapper .icon {
  height: 25px;
  margin: 0;
  margin-right: 20px;
}
