<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Post</title>
    <link rel="stylesheet" href="..\..\static\css\post_detail.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="center">
        <div class="post">
          <div class="info">
            <div class="user">
              <div class="profile-pic">
                <img src="..\..\static\assets\img\avatar.png" alt="" />
              </div>
              <p class="username">username</p>
            </div>
          </div>
          <img
            src="..\..\static\assets\img\cat.jpg"
            class="post-image"
            alt=""
          />
          <div class="post-content">
            <p class="description">Hi</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
