<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/message_user.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"rel="stylesheet"/>
  </head>
  <body>
    {% include 'components/navbar.html' %}
    <h1>{{receiver.username}}</h1>
    <div style="width: 600px; margin: 40px auto">
      <div class="container">
        <br />
        <div class="modal-body" id="msgBody">
          {% for mess in list_message %}
          {% if mess.sender_id == sender.id %}
          <div class="right">
            <p class="p-right">
              {{mess.message}}
            </p>
          </div>
          {% else %}
          <div class="left">
            <p class="p-left">
              {{mess.message}}
            </p>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <div class="row">
            <form method="post" action ="{{ url_for('chat_router.message_user',receiver_id = receiver.id) }}"enctype="multipart/form-data">
              <div class="col-10"></div>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <textarea name="message" class="form-control"></textarea>
            </div>
            <div class="col-2">
            <button class="btn btn-success"type="submit">Send</button>
            </div>
          </form>
          </div>
        </div>
      <a href="{{ url_for('chat_router.chat_all') }}"
        ><button class="btn btn-success">Back</button></a
      >
    </div>
    <script type=text/javascript src="../../static/js/message_user.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
  </body>
</html>
