html,
body {
  font-family: "Roboto", sans-serif;
  color: #404040;
  background-color: #ffe3b3;
}

header {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #404040;
  font-weight: bold;
  margin-left: 43%;
}

img {
  width: 40px;
  margin-left: 5px;
}
.container {
  width: 620px;
  background-color: #92de8b;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: flexbox;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.button-group {
  margin-bottom: 20px;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  display: flexbox;
  align-items: center;
  justify-content: center;
}

.counter {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.posts li {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}
