.table-form {
  width: 600px;
  margin: 50px auto;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success.active,
.open > .dropdown-toggle.btn-outline-success {
  color: #fff;
  background-color: #217a4b;
  border-color: #217a4b;
}

.btn-outline-success {
  color: #0fae9e;
  border-color: #0fae9e;
}

.btn-success:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #217a4b;
  border-color: #217a4b;
}
