<div class="col-lg-3">
    <aside class="sidebar static">
        <div class="widget stick-widget">
            <h4 class="widget-title">Shortcuts</h4>
            <ul class="naves">
                <li>
                    <i class="ti-clipboard"></i>
                    <a href="{{url_for('admin_router.reportedPosts')}}" title="">Reported posts</a>
                </li>
                <li>
                    <i class="ti-mouse-alt"></i>
                    <a href="{{url_for('admin_router.reportedHomes')}}" title="">Reported homes</a>
                </li>
            </ul>
        </div><!-- Shortcuts -->
    </aside>
</div><!-- sidebar -->